{% trans_default_domain 'RingCoinAppBundle' %}

<!-- Footer -->
<footer class="page-footer center-on-small-only primary-color">

    <!-- Footer Links -->
    <div class="container-fluid">

        <!-- Grid row -->
        <div class="row mb-2 wow fadeIn" data-wow-delay="0.3s">

            <!-- Grid column -->
            <div class="col-md-12 text-center smooth-scroll">

                <!-- Icon -->
                <img src="{{ asset('bundles/ringcoinapp/img/ringcoin.png') }}" width="80px" height="80px" />
                <!-- Title -->
                <h2 class="mb-3 bold-font">RingCoin</h2>
                <!-- Description -->
                <p class="white-text">
                    The next generation of payment system
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

    <!--Footer Links-->
    <div class="container-fluid">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12">

                <div class="footer-socials mb-5 flex-center">

                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://twitter.com/RINGCOIN2" target="_blank"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://bitcointalk.org/index.php?topic=2447370.msg25059101#msg25059101" target="_blank"><i class="fa fa-bitcoin fa-lg white-text mr-md-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm tw-ic" href="https://www.youtube.com/channel/UC7mET3fojTJnUORBW56rO5A" target="_blank"><i class="fa fa-youtube-play fa-lg white-text mr-md-4"> </i></a>

                    <a class="icons-sm tw-ic" href="https://www.facebook.com/Ringcoin-1989384817997761/" target="_blank"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>

                    <a class="icons-sm tw-ic" href="https://www.reddit.com/user/RING-COIN1" target="_blank"><i class="fa fa-reddit fa-lg white-text mr-md-4"> </i></a>

                    <a class="icons-sm gplus-ic" href="https://steemit.com/@roustand" target="_blank"><i class="fa fa-steemit fa-lg white-text mr-md-4"> </i></a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <hr>
    <!-- Copyright -->
    <div class="footer-copyright">
        <div class="container">
            <div class="float-md-left">
                © 2017 Copyright: <a rel="nofollow"> Ringcorp.org </a>
            </div>
            <a rel="nofollow" class="float-md-right"> {{ 'footer'|trans({}, 'RingCoinAppBundle') }} <b>Team Programmer</b> </a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->